*.pyc
*~
/.vscode
__pycache__
db.sqlite3
.DS_Store
.vscode/
uploads/
static/CACHE
node_modules
angelenv/
myvenv/
staticfiles/CACHE/
common/migrations/
farm/migrations/
farmer/migrations/
openmarket/migrations/
resourcesharing/migrations/
unffeagents/migrations/
weather/migrations/
lydiaenv/
malaikaenv/