{% load static %}
<html>
    <head>
        
        <link rel="stylesheet" href="{% static '/css/main.css' %}">

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
        
    </head>
    <body>
      
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

        <!-- Links -->
        <ul class="navbar-nav">
        {% if request.user.is_authenticated %}
       
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'lhome' %}">home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'add-house' %}">add house</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'house-listing' %}">house listing</a>
                </li>
                <li class="nav-item">
                      <a class="nav-link" href="{% url 'lprofile' %}">profile</a>
                    </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'llogout' %}">logout</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'messages' %}">messages</a>
                </li>
               
        {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'llogin' %}">login</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="{% url 'lregister' %}">sign up</a>
                 </li>

            </ul>
        
        {% endif %}


      </nav>
     
        {% block content%}

        {% endblock content %}
    </body>
</html>