{% extends "landlord/header.html" %}

{% block content %}
{% if messages %}
                
                        <div class="alert-success">
                    
                                <center>
                                        {% for message in messages %}
                                        {{message}}
                                        {% endfor %}
                                </center>
                        </div>
                
        {% endif %}
    
<div class="container">
      
       {% if notifications %}
            {% for notification in notifications %}
            <br>
            <div>
                <p>{{notification.subject}}</p>
                <p>{{notification.time}}</p>
            </div>
            <br>
            {% endfor %}
       {% endif %}
</div>
    
{% endblock %}