{% extends "landlord/header.html" %}

{% block content %}
<div class="container">
       
                <form method="POST" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                         <div class="form-group">
                                 <label>{{profile.email.label}}</label>
                                 {{profile.email}}
        
                         </div>
        
                          <div class="form-group">
                                 <label>{{profile.contact.label}}</label>
                                 {{profile.contact}}
        
                         </div>
        
                          <div class="form-group">
                                 <label>{{profile.address.label}}</label>
                                 {{profile.address}}
        
                         </div>
                          <div class="form-group">
                                 <label>{{profile.picture.label}}</label>
                                 {{profile.picture}}
        
                         </div>
                         <input type="submit" value="Update" class="button">

        
                </form>

</div>

{% endblock %}