
{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
{% load crispy_forms_tags %}

            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col">
                            <div class="page-header-left">
                                <h3>Create Profile
                                    <small>{{ user.groups.all.0 }} </small>
                                </h3>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ol class="breadcrumb pull-right">
                                <li class="breadcrumb-item"><a href="{% url 'common:home' %}"><i data-feather="home"></i></a></li>
                                <li class="breadcrumb-item">Farmers </li>
                                <li class="breadcrumb-item active">Add Profile </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->

            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card tab2-card">
                            <div class="card-header">
                                <h5> Add Profile</h5>
                            </div>
                            <form method="POST" novalidate enctype="multipart/form-data" class="card-body">
                                {% csrf_token %}
                                <ul class="nav nav-tabs tab-coupon" id="myTab" role="tablist">
                                    <li class="nav-item"><a class="nav-link active show" id="personalinfo-tab" data-toggle="tab" href="#personalinfo" role="tab" aria-controls="personalinfo" aria-selected="true" data-original-title="" title="">Personal Information</a></li>
                                    <li class="nav-item"><a class="nav-link" id="address-tabs" data-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="false" data-original-title="" title="">address</a></li>
                                    <li class="nav-item"><a class="nav-link" id="farming-tabs" data-toggle="tab" href="#farming" role="tab" aria-controls="farming" aria-selected="false" data-original-title="" title="">Farming Information</a></li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade active show" id="personalinfo" role="tabpanel" aria-labelledby="personalinfo-tab">
                                        <div class="row">
                                        
                                            <div class="col-xl-6 col-md-6">
                                                {{ form.nin|as_crispy_field }}
                                            </div>
                                            <div class="col-xl-6 col-md-6">
                                                {{ form.date_of_birth|as_crispy_field }}
                                            </div>
                                            <div class="col-xl-6 col-md-6">
                                                {{ form.level_of_education|as_crispy_field }}
                                            </div>
                                            <div class="col-xl-6 col-md-6">
                                                {{ form.marital_status|as_crispy_field }}
                                            </div>
                                            <div class="col-xl-6 col-md-6">
                                                {{ form.phone_1|as_crispy_field }}
                                            </div>
                                            <div class="col-xl-6 col-md-6">
                                                {{ form.phone_2|as_crispy_field }}
                                            </div>
                                            <div class="col-xl-4 col-md-4">
                                                {{ form.number_of_dependants|as_crispy_field }}
                                            </div>
                                            <div class="col-xl-4 col-md-4">
                                                {{ form.credit_access|as_crispy_field }}
                                            </div>
                                            <div class="col-xl-4 col-md-4">
                                                {{ form.experience|as_crispy_field }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tabs">
                                      
                                          
                                            <div class="row">
                                                <div class="col-xl-6 col-md-6">
                                                    {{ form.region|as_crispy_field }}
                                                </div>
                                                <div class="col-xl-6 col-md-6">
                                                    {{ form.district|as_crispy_field }}
                                                </div>
                                                <div class="col-xl-6 col-md-6">
                                                    {{ form.county|as_crispy_field }}
                                                </div>
                                                <div class="col-xl-6 col-md-6">
                                                    {{ form.sub_county|as_crispy_field }}
                                                </div>
                                                <div class="col-xl-6 col-md-6">
                                                    {{ form.parish|as_crispy_field }}
                                                </div>
                                                <div class="col-xl-6 col-md-6">
                                                    {{ form.village|as_crispy_field }}
                                                </div>
                                            
                                            </div>
                                      
                                    </div>
                                    <div class="tab-pane fade" id="farming" role="tabpanel" aria-labelledby="farming-tabs">
                                       
                                          
                                        <div class="row">
                                            <div class="col-xl-6 col-md-6">
                                                {{ form.sector|as_crispy_field }}
                                            </div>
                                            <div class="col-xl-6 col-md-6">
                                                {{ form.group|as_crispy_field }}
                                            </div>
                                            <div class="col-xl-4 col-md-4">
                                                {{ form.size_of_land|as_crispy_field }}
                                            </div>
                                            <div class="col-xl-4 col-md-4">
                                                {{ form.type_of_land|as_crispy_field }}
                                            </div>
                                            <div class="col-xl-4 col-md-4">
                                                {{ form.production_scale|as_crispy_field }}
                                            </div>
                                            <div class="col-xl-12 col-md-12">
                                                {{ form.general_remarks|as_crispy_field }}
                                            </div>
                                        
                                        </div>
                                  
                                </div>
                                </div>
                                <div class="pull-right">

                                    <input type="submit" value="Submit" class="btn btn-primary">


                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->
            {% endblock %}
           

<!--select 2-->
<!-- latest jquery-->
{% block javascript %}
<!--select 2-->
<script src="{% static 'js/select2.min.js' %}"></script>
<script type="text/javascript">

    $(document).ready(function () {
        //$("#id_group").select2();
    });
  
  
  </script>
{% endblock %}









