{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
                <div class="page-header-left">
                    <h3>Farmer Detail
                        
                    </h3>
                </div>
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item"><a href="{% url 'common:home' %}"><i data-feather="home"></i></a></li>
                    <li class="breadcrumb-item">Farmer</li>
                    <li class="breadcrumb-item active">Farmer Detail</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->

<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="card">
        <div class="row product-page-main card-body">
            <div class="col-md-3">
          
                <div class="col-auto">
                    <div class="avatar-wrapper" data-tippy-placement="bottom" title="Profile image">
                        <img alt="" class="profile-pic" src="{{profilerecord.user.profile.profile_pic.url}}"/>
                       
                    </div>
                </div>
               
            </div>
            <div class="col-md-9">
                <div class="product-page-details product-right mb-0">
                    <h2>{{profilerecord.user.profile}}</h2>
                    <hr>
                    <h6 class="product-title">farmer Details</h6>
                 
                     <b>Full Name</b>: {{profilerecord.user.profile}} <br>
                     <b>Email</b>: {{profilerecord.user.email}} <br>
                     <b>NIN</b>: {{profilerecord.nin}}<br>
                     <b>Sectors</b>:
                         {% for sector in profilerecord.sector.all %}
                         {{sector.name}},
                         {% endfor %}
                    <br>
                    <b>Level of Education</b>: {{profilerecord.level_of_education}} <br>
                    <b>Marital Status</b>: {{profilerecord.get_marital_status_display}} <br>
                    <hr>
                    <h6 class="product-title size-text">select size <span class="pull-right"><a href="" data-toggle="modal" data-target="#sizemodal">size chart</a></span></h6>
                    <div class="modal fade" id="sizemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Sheer Straight Kurta</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body"><img src="../assets/images/size-chart.jpg" alt="" class="img-fluid blur-up lazyloaded"></div>
                            </div>
                        </div>
                    </div>
                    <div class="size-box">
                        <ul>
                            <li class="active"><a href="#">s</a></li>
                            <li><a href="#">m</a></li>
                            <li><a href="#">l</a></li>
                            <li><a href="#">xl</a></li>
                        </ul>
                    </div>
                    <div class="add-product-form">
                        <h6 class="product-title">quantity</h6>
                        <fieldset class="qty-box mt-2 ml-0">
                            <div class="input-group">
                                <input class="touchspin" type="text" value="1">
                            </div>
                        </fieldset>
                    </div>
                    <hr>
                    <h6 class="product-title">Time Reminder</h6>
                    <div class="timer">
                        <p id="demo"><span>25 <span class="padding-l">:</span> <span class="timer-cal">Days</span> </span><span>22 <span class="padding-l">:</span> <span class="timer-cal">Hrs</span> </span><span>13 <span class="padding-l">:</span> <span class="timer-cal">Min</span> </span><span>57 <span class="timer-cal">Sec</span></span>
                        </p>
                    </div>
                    <div class="m-t-15">
                        <button class="btn btn-primary m-r-10" type="button">Add To Cart</button>
                        <button class="btn btn-secondary" type="button">Buy Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->

{% endblock %}