{% extends "base.html" %}
{% block content %}


Dear {{user}}
<br>
<br>
<p>
  Thank you for expressing your interest to join the farming sector. we know that 
  Thinking about getting started with an agricultural enterprise can be an overwhelming, daunting experience.  If you are unsure of
  Based on your responses we shall guide you on how to select an enterrise that best suits your lifestyle and resources. 

  From your profile, we noticed that
</p>
  <br>
  <br>

 Therefore we would recommend you to try out farming in the following sectors {{ crops }}
<br>
<br>
We provide more information about this eterprise by giving you a chance to speak to an expert
<br>
 <button type="button" class="btn btn-success">Talk to an expert</button>
{% endblock %}