{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
                <div class="page-header-left">
                    <h3>Farm Detail
                        
                    </h3>
                </div>
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item"><a href="{% url 'common:home' %}"><i data-feather="home"></i></a></li>
                    <li class="breadcrumb-item">Farm</li>
                    <li class="breadcrumb-item active">Farm Detail</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->

<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="card">
        <div class="row product-page-main card-body">
            <div class="row">
                <div class="col-md-6">
          
                    <div class="col-auto">
                        <div class="farm_avatar-wrapper" data-tippy-placement="bottom" title="Profile image">
                            <img alt="" class="profile-pic" src="{{farmobject.farmer.user.profile.profile_pic.url}}"/>
                           
                        </div>
                    </div>
                   
                </div>
                <div class="col-md-6">
                    <div class="product-page-details product-right mb-0">
                        <h2>{{profilerecord.user.profile}}</h2>
                        <hr>
                        <h3 class="product-title">farmer Details</h3>
                            <b>Farmer</b>: {{farmobject.farmer.user.profile}} <br>
                            <b>Email</b>: {{farmobject.farmer.user.email}} <br>
                            <b>Phone</b>: {{farmobject.farmer.phone_1}}{% if farmobject.farmer.phone_2 %}/{{farmobject.farmer.phone_2}}{% endif %} <br>
                            <hr>
                        <h3 class="product-title">Address</h3>
                            <b>Region</b>: {{farmobject.farmer.region}} <br>
                            <b>District</b>: {{farmobject.farmer.district}} <br>
                            <b>County</b>: {{farmobject.farmer.county}} <br>
                            <b>Sub county</b>: {{farmobject.farmer.sub_county}} <br>
                            <b>Parish</b>: {{farmobject.farmer.parish}} <br>
                            <b>Village</b>: {{farmobject.farmer.village}} <br>
                            <hr>
                        <h3 class="product-title">Farming Information</h3>
                        <b>Sectors</b>:
                             {% for sector in farmobject.farmer.sector.all %}
                             {{sector.name}},
                             {% endfor %}
                        <br>
                        <b>Experience in years</b>: {{farmobject.farmer.experience|floatformat}} <br>
                        <b>Farmers Group</b>: {{farmobject.farmer.group}} <br>
                        <b>Type of land</b>: {{farmobject.farmer.get_type_of_land_display}} <br>
                        <b>Size of land </b>: {{farmobject.farmer.size_of_land|floatformat:1}} acres<br>
                        <b>Production scale </b>: {{farmobject.farmer.get_production_scale_display}}<br>
                        <b>Status </b>: {{farmobject.farmer.get_status_display}}<br>
                       </div>
                   </div>

                    <hr>
                   <div class="row">
                    <div class="col-md-6">
          
                        <div class="col-auto">
                            <div class="farm_avatar-wrapper" data-tippy-placement="bottom" title="Profile image">
                                <img alt="" class="profile-pic" src="{{farmobject.image.url}}"/>
                               
                            </div>
                        </div>
                       
                    </div>
    
                    <div class="col-md-6">
                    <div class="product-page-details product-right mb-0">
                        <h2>{{profilerecord.user.profile}}</h2>
                        <hr>
                        <h3 class="product-title">farm Details</h3>
                            <b>Farme Name</b>: {{farm.farm_name}} <br>
                            <b>Location</b>: {{farm.compute_location}} <br>
                            <b>Land Size(acres)</b>: {{farm.land_occupied}} <br>
                            <b>Start Date</b>: {{farm.start_date}} <br>
                            <b>Status</b>: {{farm.get_status_display}} <br>
                            <b>Services Available</b>: {% if farm.availability_of_services is True %}
                            Yes {% else %}
                            NO
                            {% endif %}<br>
                            <b>Water Available</b>:{% if farm.availability_of_water is True %}
                            Yes {% else %}
                            NO
                            {% endif %}<br>
                            <hr>
                            <h6 class="product-title size-text">Enterprises Owned</h6>
                            <table
          data-toggle="table"
          data-show-toggle="true"
          data-search="true"
          data-show-columns-toggle-all="true"
          data-show-columns="true">
          <thead>
           
            <tr>
              <th>Enterprise Name</th>
              <th>Farm</th>
              <th>Animal Seed Density</th>
              <th>Capital Invested</th>
              <th>Return On Investment</th>
              <th>from_period</th>
              <th>to_period</th>
              <th>land_occupied</th>
              <th>start_date</th>
              <th>close_date</th>
              <th>description</th>
              <th>status</th>
            </tr>
          </thead>
          <tbody>
              {% for enterprise in farm.enterprises.all %}
            <tr>
                <td>{{farm.name}}</td>
                <td>{{farm.farm}}</td>
                <td>{{farm.enterprise_type}} </td>
                <td>{{farm.animal_seed_density}}</td>
                <td>{{farm.capital_invested}}</td>
                <td>{{farm.return_on_investment}}</td>
                <td>{{farm.from_period}}</td>
                <td>{{farm.to_period}}</td>
                <td>{{farm.land_occupied}}</td>
                <td>{{farm.start_date}}</td>
                <td>{{farm.close_date}}</td>
                <td>{{farm.description}}</td>
                <td>{{farm.status}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <hr>
    </div>
 </div> 
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->

{% endblock %}
{% block javascript %}
<script>
 
  var $approve = $('#approve_btn')
  var $decline = $('#decline_btn')



  ///used cookies to get crsf token
  function getCookie(c_name)
    {
      if (document.cookie.length > 0)
        {
          c_start = document.cookie.indexOf(c_name + "=");
            if (c_start != -1)
         {
            c_start = c_start + c_name.length + 1;
            c_end = document.cookie.indexOf(";", c_start);
            if (c_end == -1) c_end = document.cookie.length;
            return unescape(document.cookie.substring(c_start,c_end));
         }
     }
      return "";
   }

  function initTable() {

    ///approve farmer profiles
    $approve.click(function () {
     
      $approve.prop('disabled', true)

      swal({
  title: "Approve Farmer Applications?",
  text: "Are you sure you want to approve these applications!",
  icon: "success",
  buttons: true,
  dangerMode: false,
})
.then((willDelete) => {
  if (willDelete) {
 
    $.ajax({
        url: "/farmer/"+{{profilerecord.user.id}}+'/approve/',
        data: {},
        headers:{"X-CSRFToken": getCookie("csrftoken")},
        type: 'PATCH',
        //contentType: 'application/json',
        success: function(result) {
          console.log('approved successfully');
        },
       });
    swal("You have approve farmer/s successfully!", {
      icon: "success",
    });
  } else {
    swal("You have cancelled farmer approvals!");
  }
});

    })


    ///decline farmer request
    $decline.click(function () {

      $decline.prop('disabled', true)

      swal({
  title: "Decline Application",
  text: "Are you sure You want to decline these Applications?",
  icon: "warning",
  buttons: true,
  dangerMode: false,
})
.then((willDelete) => {
  if (willDelete) {
 
    $.ajax({
        url: "/farmer/"+{{profilerecord.user.id}}+'/approve/',
        data: {},
        headers:{"X-CSRFToken": getCookie("csrftoken")},
        type: 'PUT',
        //contentType: 'application/json',
        success: function(result) {
          console.log('approved successfully');
        },
       });
    swal("You have approved farmer/s successfully!", {
      icon: "success",
    });
  } else {
    swal("You have cancelled farmer approvals!");
  }
});

    })

  }

  $(function() {
    initTable()

  })


</script>
{% endblock %}
