{% extends 'dashboard_base.html' %}
{% block content %}
<!-- <div style="background-color: #08b200;"> -->


<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
                <div class="page-header-left">
                    <h3>Dashboard
                        <small>ICT4Farmers</small>
                    </h3>
                </div>
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item"><a href="{% url 'common:home' %}"><i data-feather="home"></i></a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->
<!-- Container-fluid starts-->
<div class="container-fluid">

   



    <div class="row">
        <div class="col-xl-12 xl-100">
            <div class="card tab2-card">
                <div class="card-header">
                    <h5>Map of Uganda</h5>
                </div>
                <div class="card-body">
  
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade active show" id="farm_container" role="tabpanel"
                            aria-labelledby="farm_container-tab">
                            <div id="map" style="height:1000px; width: 100% !important;">
                            </div>
                        </div>

                    
                     

                    </div>

                </div>
            </div>
        </div>
    </div>

    {% endblock %}

    <!-- Container-fluid Ends-->
    <!-- </div> -->
    {% block javascript %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script>
       
    </script>

    {% endblock %}