{% extends 'openmarket_base.html' %}
{% block content %}
<!-- <div style="background-color: #08b200;"> -->


<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
                <div class="page-header-left">
                    <h3>UNFFE MARKET ACCESS
                        <small>ICT4Farmers</small>
                    </h3>
                </div>
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item active">Open Market</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->
<!-- Container-fluid starts-->
<div class="container-fluid">

   



    <div class="row">
        <div class="col-xl-12 xl-100">
            <div class="card tab2-card">
                <!-- <div class="card-header">
                    <h5>Map of Uganda</h5>
                </div> -->
                <div class="card-body">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade active show" id="market_container" role="tabpanel" aria-labelledby="market_container-tab">
                            <div id="marketmap" style="height:1000px; width: 100% !important;">
                            </div>
                        </div>
                       
                    </div>
                    
                </div>  

                </div>
            </div>
        </div>
    </div>

    {% endblock %}

    <!-- Container-fluid Ends-->
    <!-- </div> -->
    {% block javascript %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script>
       
//Map
var marketmap;
var icon = "";

function initialize() {
  var infowindow = new google.maps.InfoWindow();
  var myLatlng1 = new google.maps.LatLng(1.0609637, 32.5672804);
  var mapProp = {
    center: myLatlng1,
    zoom: 9,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
  };

  marketmap = new google.maps.Map(
    document.getElementById("marketmap"),
    mapProp
  );

  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function (position) {
        initialLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
        map.setCenter(initialLocation);
    });
}
  //MARKETS
  $.getJSON("/unffeagents/api/market/", function (json) {
    var marketdata = [];
    json.forEach(function (p) {
      p.z = p.id;
      marketdata.push(p);
    });
    console.log(marketdata)

    $.each(marketdata, function (key, data) {
      var latlon = new google.maps.LatLng(data.lat, data.lon);
      //console.log(data);
      var marker = new google.maps.Marker({
        position: latlon,
        map: marketmap,
        icon: {url: "http://maps.google.com/mapfiles/ms/icons/pink-dot.png"},
        data: data.market_name,
      });

      var market_details =
        "NAME:" +
        data.market_name +
        "<br>" +
        "LOCATION:" +
        data.location +
        "."+
        "<br>" +
        '<a style="color:blue;" href="/unffeagents/' + data.id +'/view/market">View Products</a>';

      bindInfoWindow(marker, marketmap, infowindow, market_details);
    });
  });


}

function bindInfoWindow(marker, marketmap, infowindow, strDescription) {
  google.maps.event.addListener(marker, "mouseover", function () {
    infowindow.setContent(strDescription);
    infowindow.open(map, marker);
  });
}

google.maps.event.addDomListener(window, "load", initialize);

    </script>

    {% endblock %}