{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
{% load crispy_forms_tags %}
<link rel="stylesheet" type="text/css" href="{% static 'css/multi_form.css' %}">
<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="page-header">
    <div class="row">
      <div class="col">
        <div class="page-header-left">
          <h3>Create Seller Profile

          </h3>
        </div>
      </div>
      <div class="col-lg-6">
        <ol class="breadcrumb float-right">
          <li class="breadcrumb-item"><a href="{% url 'common:home' %}"><i data-feather="home"></i></a></li>
          <li class="breadcrumb-item">Sellers </li>
          <li class="breadcrumb-item active">Add Profile </li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->

<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card tab2-card">
        <div class="card-header">
          <h5> Add Profile</h5>
        </div>
        <form id="form" class="card-body" action="" method="post"
          data-districts-url="{% url 'common:ajax_load_districts' %}"
          data-counties-url="{% url 'common:ajax_load_counties' %}"
          data-sub_counties-url="{% url 'common:ajax_load_sub_counties' %}"
          data-parishes-url="{% url 'common:ajax_load_parishes' %}"
          data-villages-url="{% url 'common:ajax_load_villages' %}">
          {% csrf_token %}


          <div class="tab-content" id="myTabContent">
            <div class="tab" id="personalinfo" role="tabpanel" aria-labelledby="personalinfo-tab">
              <div class="row">
                <div class="col-md-12">
                  <h4>Personal Information</h4>
                </div>

                <div class="col-xl-6 col-md-6">
                  {{ form.date_of_birth|as_crispy_field }}
                </div>
                <div class="col-xl-6 col-md-6">
                  {{ form.gender|as_crispy_field }}
                </div>
                <div class="col-xl-6 col-md-6">
                  {{ form.business_number|as_crispy_field }}
                </div>

                <div class="col-xl-6 col-md-6">
                  {{ form.seller_type|as_crispy_field }}
                </div>
                <div class="col-xl-12 col-md-12">
              
                <div class="">

                  <div class="row marl">
                    <div class="col-md-12">
                      <div id='productTable' class="table">
                        {{ majorproduct_form.management_form }}

                        {% for form in majorproduct_form.forms %}


                        <div class="formset_row row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for="exampleInputEmail1" class="required">Product names

                                {% if form.product_name.field.required %}<span class="error_marker"
                                  style="color:red">*</span>{% endif %}</label>
                              {{ form.product_name}}
                              <span class="error" id="id__referee_names">{{ form.product_name.errors }}</span>
                            </div>
                          </div>


                        </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>







              </div>
            </div>
            <div class="tab" id="address" role="tabpanel" aria-labelledby="address-tabs">
              <div class="row">
                <div class="col-md-12">
                  <h4>Address</h4>
                </div>

                <div class="col-xl-12 col-md-12">
                  {{ form.location|as_crispy_field }}
                </div>

              </div>
            </div>
          </div>

          <div style="overflow:auto;">
            <div style="float:right;">
              <button type="button" class="btn previous">Previous</button>
              <button type="button" class="next btn btn-primary">Next</button>

              <button type="button" class="btn btn-success submit">Submit</button>
            </div>
          </div>
          <!-- Circles which indicates the steps of the form: -->
          <div style="text-align:center;margin-top:40px;">
            <span class="step">1</span>
            <span class="step">2</span>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->
{% endblock %}

{% block javascript %}
<!-- included them for stepwise forms  -->
<script src="{% static 'js/validate.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/multi_form.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function () {

    $('#productTable .formset_row').formset({
      addText: 'Add product',
      deleteText: 'remove',
      prefix: 'major_products_set'
    });

    var val = {
      // Specify validation rules
      rules: {
        business_number_1: {
          required: true,
          minlength: 9,
          digits: true
        },
        phone_2_1: {
          required: true,
          minlength: 9,
          digits: true

        },
        nin: {
          required: true,
          minlength: 15,
        }
      },
      // Specify validation error messages
      messages: {
        business_number_1:
          "Please enter a valid phone number",
        phone_2_1: {
          required: "Please enter a valid phone numbe"
        },
        nin: {
          required: "Please a valid NIN"
        }
      }
    }
    // calling multistep
    $("#form").multiStepForm(
      {
        // defaultStep:0,
        beforeSubmit: function (form, submit) {
          console.log("called before submiting the form");
          console.log(form);
          console.log(submit);
        },
        validations: val,
      }
    ).navigateTo(0);




    {% for message in messages %}
    $.notify("{{message}}", "{{ message.tags }}", { position: "center" });
    {% endfor %}
  });


</script>
{% endblock %}