{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
{% load crispy_forms_tags %}
<link rel="stylesheet" type="text/css" href="{% static 'css/multi_form.css' %}">
            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col">
                            <div class="page-header-left">
                                <h3>Create Profile{{message}}
                                    <small>{{ user.groups.all.0 }} </small>
                                </h3>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ol class="breadcrumb pull-right">
                                <li class="breadcrumb-item"><a href="{% url 'common:home' %}"><i data-feather="home"></i></a></li>
                                <li class="breadcrumb-item">Sellers </li>
                                <li class="breadcrumb-item active">Add Profile </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->

            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card tab2-card">
                            <div class="card-header">
                                <h5> Add Profile</h5>
                            </div>
                            <form id="form" class="card-body" action="" method="post">
                             {% csrf_token %}

                                
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab" id="personalinfo" role="tabpanel" aria-labelledby="personalinfo-tab">
                                        <div class="row">
                                            <div class="col-md-12">
                                                  <h4>Personal Information</h4>
                                            </div>
                                       
                                            <div class="col-xl-6 col-md-6">
                                                {{ form.date_of_birth|as_crispy_field }}
                                            </div>
                                            <div class="col-xl-6 col-md-6">
                                                {{ form.gender|as_crispy_field }}
                                            </div>

                                            <div class="col-xl-6 col-md-6">
                                                {{ form.marital_status|as_crispy_field }}
                                            </div>
                                            <div class="col-xl-6 col-md-6">
                                                {{ form.seller_type|as_crispy_field }}
                                            </div>
                                            <div class="col-xl-6 col-md-6">
                                                {{ form.enterprise|as_crispy_field }}
                                            </div>
                                            <div class="col-xl-6 col-md-6">
                                                {{ form.major_products|as_crispy_field }}
                                            </div>
                                            <div class="col-xl-6 col-md-6">
                                                {{ form.business_number|as_crispy_field }}
                                            </div>
                                            <div class="col-xl-6 col-md-6">
                                                {{ form.business_location|as_crispy_field }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab" id="address" role="tabpanel" aria-labelledby="address-tabs">
                                      <div class="row">
                                        <div class="col-md-12">
                                            <h4>Address</h4>
                                      </div>
                                                <div class="col-xl-6 col-md-6">
                                                    {{ form.region|as_crispy_field }}
                                                </div>
                                                <div class="col-xl-6 col-md-6">
                                                    {{ form.district|as_crispy_field }}
                                                </div>
                                                <div class="col-xl-6 col-md-6">
                                                    {{ form.county|as_crispy_field }}
                                                </div>
                                                <div class="col-xl-6 col-md-6">
                                                    {{ form.sub_county|as_crispy_field }}
                                                </div>
                                                <div class="col-xl-6 col-md-6">
                                                    {{ form.parish|as_crispy_field }}
                                                </div>
                                                <div class="col-xl-6 col-md-6">
                                                    {{ form.village|as_crispy_field }}
                                                </div>
                                            
                                            </div>
                                         </div>
                                        </div>
                                                                    
                                <div style="overflow:auto;">
                                    <div style="float:right;">
                                        <button type="button" class="btn previous">Previous</button>
                                        <button type="button" class="next btn btn-primary">Next</button>
                                       
                                        <button type="button" class="btn btn-success submit">Submit</button>
                                    </div>
                                </div>
                                <!-- Circles which indicates the steps of the form: -->
                                <div style="text-align:center;margin-top:40px;">
                                    <span class="step">1</span>
                                    <span class="step">2</span>
                                </div>
                            
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->
            {% endblock %}
            
{% block javascript %}
 <!-- included them for stepwise forms  -->
 <script src="{% static 'js/validate.min.js' %}"></script>

 <script type="text/javascript" src="{% static 'js/multi_form.js' %}"></script>
    <script type="text/javascript">
     $(document).ready(function () {
          ///form validation 
    // example of adding a custom  validation method to the form
    // $.validator.addMethod('year', function (value, element, param) {
    //             return (value != 0) && (value >= 1900) && (value == parseInt(value, 10));
    //         }, 'Please enter a valid year not less than 1900!');
    //         $.validator.addMethod('username', function (value, element, param) {
    //             var nameRegex = /^[a-zA-Z0-9]+$/;
    //             return value.match(nameRegex);
    //         }, 'Only a-z, A-Z, 0-9 characters are allowed');


    var val = {
                // Specify validation rules
                rules: {
                    business_number_1: {
                        required: true,
                        minlength:9,
                        digits: true
                    },
                    phone_2_1: {
                      required: true,
                        minlength:9,
                        digits: true

                    },
                    nin: {
                        required: true,
                        minlength:15,
                    }
                },
                // Specify validation error messages
                messages: {
                business_number_1:
                        "Please enter a valid phone number",
                   phone_2_1: {
                        required: "Please enter a valid phone numbe"
                    },
                    nin: {
                        required: "Please a valid NIN"
                    }
                }
            }
    // calling multistep 
    $("#form").multiStepForm(
                {
                    // defaultStep:0,
                    beforeSubmit: function (form, submit) {
                        console.log("called before submiting the form");
                        console.log(form);
                        console.log(submit);
                    },
                    validations: val,
                }
            ).navigateTo(0);




    {% for message in messages %}
        $.notify("{{message}}", "{{ message.tags }}", { position:"center" });
    {% endfor %}
            });
    </script>
{% endblock %}