{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
{% load crispy_forms_tags %}
<link rel="stylesheet" type="text/css" href="{% static 'css/multi_form.css' %}">
<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="page-header">
    <div class="row">
      <div class="col">
        <div class="page-header-left">
          <h3>Create Seller Profile

          </h3>
        </div>
      </div>
      <div class="col-lg-6">
        <ol class="breadcrumb float-right">
          <li class="breadcrumb-item"><a href="{% url 'common:home' %}"><i data-feather="home"></i></a></li>
          <li class="breadcrumb-item">Sellers </li>
          <li class="breadcrumb-item active">Add Profile </li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->

<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card tab2-card">
        <div class="card-header">
          <h5> Add Profile</h5>
        </div>
        <form id="form" class="card-body" action="" method="post">
          {% csrf_token %}


          <div class="tab-content" id="myTabContent">

              <div class="row">
                <div class="col-md-12">
                  <h4>Personal Information</h4>
                </div>

                <div class="col-xl-6 col-md-6">
                  {{ form.business_number|as_crispy_field }}
                </div>

                <div class="col-xl-6 col-md-6">
                  {{ form.seller_type|as_crispy_field }}
                </div>

                <div class="col-md-12">
                  {{ form.major_products|as_crispy_field }}
                </div>
                
                <div class="col-md-12">
                  {{ form.business_address|as_crispy_field }}
                </div>

              </div>
        
           
          </div>

          <div style="overflow:auto;">
            <div style="float:right;">
              <input type='submit' class="btn btn-primary" value='save'/>
            </div>
          </div>
 

        </form>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->
{% endblock %}

{% block javascript %}
<!-- included them for stepwise forms  -->
<script src="{% static 'js/validate.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/multi_form.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function () {
    $("#id_major_products").select2();

    $('#productTable .formset_row').formset({
      addText: 'Add product',
      deleteText: 'remove',
      prefix: 'major_products_set'
    });

    var val = {
      // Specify validation rules
      rules: {
        business_number_1: {
          required: true,
          minlength: 9,
          digits: true
        },
        phone_2_1: {
          required: true,
          minlength: 9,
          digits: true

        },
        nin: {
          required: true,
          minlength: 15,
        }
      },
      // Specify validation error messages
      messages: {
        business_number_1:
          "Please enter a valid phone number",
        phone_2_1: {
          required: "Please enter a valid phone numbe"
        },
        nin: {
          required: "Please a valid NIN"
        }
      }
    }
   




    {% for message in messages %}
    $.notify("{{message}}", "{{ message.tags }}", { position: "center" });
    {% endfor %}
  });


</script>
{% endblock %}