{% extends 'market_base.html' %}
{% load staticfiles %}
{% block content %}
   <!-- Container-fluid starts-->
  

<!-- Container-fluid Ends-->
<link href="{% static 'css/bootstrap-table.css' %}" rel="stylesheet">


<!-- bootstrap table begin here -->

<table
id="table"
data-toggle="table" 
data-show-toggle="true" 
data-search="true" 
data-show-refresh="true"
 data-show-fullscreen="true" 
 data-show-columns="true" 
 data-show-columns-toggle-all="true"
  data-show-export="true"
 data-click-to-select="true" 
 data-minimum-count-columns="2"
 data-show-pagination-switch="true" 
 data-pagination="true"
 data-id-field="id" 
 data-toolbar="#toolbar"
 data-export-types="[‘png’, ‘csv’,‘doc’, ‘excel’, ‘xlsx’, ‘pdf’]"
  data-page-list="[10, 25, 50, 100, all]"
  data-url="/unffeagents/api/marketprice/">
  <thead>
    <tr>
      <th data-field="state" data-checkbox="true"></th>
      <th data-field="market" data-sortable="true">Market</th>
    
      <th data-field="product" data-sortable="true">Product</th>
      <th data-field="unit_of_measure" data-sortable="true">Unit of Measure</th>
      <th data-field="min_price" data-sortable="true">Minimum Price</th>
      <th data-field="max_price" data-sortable="true">Maximum Price</th>
      <th data-field="created" data-sortable="true">Date</th>
      
      <th data-field="posted_by" data-sortable="true">Reported by</th>
      <th data-formatter="operateFormatter" class="text-center">Action</th>
    </tr>
  </thead>
</table>
 <!--bootstrap table ends here-->

{% endblock %}
{% block javascript %}
<script>
  var $table = $('#table')
  var selections = []

  function getIdSelections() {
    return $.map($table.bootstrapTable('getSelections'), function (row) {
      return row.id
    })
  }

  function responseHandler(res) {
    $.each(res.rows, function (i, row) {
      row.state = $.inArray(row.id, selections) !== -1
    })
    return res
  }



  function operateFormatter(value, row, index) {
    var url = "/unffeagents/" + row.id + "/edit/market/price"
  
    return [
      {% if request.user.is_superuser or perms.unffagents.change_market %}
  '<a class="Edit " href="' + url + '" title="Update">',
    '<i class="fa fa-edit"></i>',
    '</a>  ',
    {% endif %}

    ].join('')
  }




  ///used cookies to get crsf token
  function getCookie(c_name) {
    if (document.cookie.length > 0) {
      c_start = document.cookie.indexOf(c_name + "=");
      if (c_start != -1) {
        c_start = c_start + c_name.length + 1;
        c_end = document.cookie.indexOf(";", c_start);
        if (c_end == -1) c_end = document.cookie.length;
        return unescape(document.cookie.substring(c_start, c_end));
      }
    }
    return "";
  }

  function initTable() {

    $table.on('check.bs.table uncheck.bs.table ' +
      'check-all.bs.table uncheck-all.bs.table',
      function () {
        $remove.prop('disabled', !$table.bootstrapTable('getSelections').length)
    
        // save your data, here just save the current page
        selections = getIdSelections()
        // push or splice the selections if you want to save all data selections
      })
    $table.on('all.bs.table', function (e, name, args) {
      //console.log(name, args)
    })



  }

  $(function () {
    initTable()

    $('#locale').change(initTable)
  })


</script>
{% endblock %}