{% extends 'market_base.html' %}
{% load staticfiles %}
{% block content %}
<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
                <div class="page-header-left">
                    <h3>Market Detail
                        
                    </h3>
                </div>
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item"><a href="{% url 'common:home' %}"><i data-feather="home"></i></a></li>
                    <li class="breadcrumb-item">Market</li>
                    <li class="breadcrumb-item active">Products</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->
<div class="Container">
  <div id="main" class="market-list">
    <h4 style="color:black;">{% if category %}{{ category.name }}{% else %}Products
    {% endif %}</h4>
    {% for product in products %}
      <div class="item">
        <a href="{{ product.get_absolute_url }}" style="color:black;">
            {% if product.product_image_1 %}
          <img src="{{ product.product_image_1.url }}">
          {% else %}
          <img src="{% static "img/no_image.png" %}">
          {% endif %}
        </a>
        <a href="{{ product.get_absolute_url }}" style="color:black">{{ product.product.product.name }}</a>
        <br>
        Shs.{{ product.price_offer }}
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}